.idb-nav{
    border-bottom: 0.12rem groove $cart-accent;
    @include palette ($primary, $text-inverse);
    &__brand{
        --bs-navbar-brand-font-size: 0rem;
        &--text{
            color: white;
            font-weight: 900;
            letter-spacing: 0.2rem;
            font-size: map-get($txt-size, brand, desk);
            &:hover{
                color: darken(white, 10%);
            }
        }
    }
    &__action{
        @include btn ($primary, $text-inverse, 0.3rem, groove, 0rem, $text-inverse);
        width: 10rem;
        font-size: 1rem;
        text-align: center;
        font-weight: 500;
        &--active{
            background-color: darken($primary, 5%);
            color: darken($text-inverse, 25%);
        }
    }
    &__search{
        border-radius: 0.3rem;
        border: none;
    }
    &__submit{
        @include btn (white, white, 0.3rem, groove, 0rem, $text-inverse);
        width: 4rem;
    }
}