$txt-size: (
    brand: (desk: 2.30rem, tablet: 2.25rem, mobile: 2rem),
    brand-alt: (desk: 1.50rem, tablet: 1.25rem, mobile: 1rem),
    card-ttl: (desk: 1.4rem, tablet: 1.4rem, mobile: 1.375rem),
    card: (desk: 0.95rem, tablet: 0.9375rem, mobile: 0.875rem),
    base: (desk: 1.125rem, tablet: 1rem, mobile: 0.875rem),
    secondary: (desk: 0.9375rem, tablet: 0.875, mobile: 0.8125rem)
);

