.idb-pagination{
    &__action{
        background-color: $primary;
        color: white;
        border-color: $background;
    }
    &__page{
        background-color: white;
        color: $background;
        border-color: $background;
        width: fit-content;
    }
}